@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #FFF;
  --main-color:#7C01FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #FFF;
  }
}

body {
  color: var(--main-color);
  background:var(--background-color)
}
